@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #0F0F0F;
}

body::-webkit-scrollbar {
  display: none;
  /* width of the entire scrollbar */

}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 48px;
  width: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  
  transform: translate(-50%, -50%);
}

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

:root {
  --black: #0F0F0F;
  --grey-color: #272727;
  --hover-color: #222222;
  --white: #f5f5f5;
}

header {

  width: 100%;
  height: 70px;
  border-bottom: 1.5px solid var(--gray-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoRight {
  display: flex;
  align-items: center;
  /* background-color: red; */
  height: 100%;
  margin-left: 40px;
  gap: 1rem;
}

.bars {
  display: flex;
  align-items: center;
}

.logoText {
  display: flex;
  align-items: center;
  height: 100%;
  /* background-color: blue; */
  gap: 0.3rem;
}

.fa-youtube {
  color: red;
  font-size: 22px;
}

.YtText {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
}

.SearchBar {
  display: flex;
  width: 550px;
  height: 45px;
  align-items: center;
  /* background-color: blue; */
  justify-content: space-between;
}

.searchBtn {
  background-color: var(--grey-color);
  height: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  outline: none;
  border: none;
  border-top-right-radius: 30px;
  cursor: pointer;
  border-bottom-right-radius: 30px;
  border: 1px solid var(--grey-color);
}

.searchMobile {
  color: var(--white);
  display: none !important;
}





.searchBtn:hover {
  background-color: var(--gray-black);
}

.mic {
  background-color: var(--grey-color);
  height: 100%;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--white);
  margin-left: 10px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.mic:hover {
  background-color: var(--gray-light);
}

.searchInput {
  background-color: var(--black);
  border: 1px solid var(--grey-color);
  height: 100%;
  color: #aaaaaa;
  flex-grow: 1;
  padding-left: 20px;
  outline: none;

  font-size: 18px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;

}

.ProfileRight {
  display: flex;
  align-items: center;
  margin-right: 40px;
  height: 100%;
  gap: 1.5rem;
}

.ProfileRight a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.ProfileRight a:hover {
  /* transform: rotate(5deg); */
  transform: scale(1.1);
}

.ProfileRight a img {
  width: 19px;
}

#createVid>img {
  width: 25px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fa-video,
.fa-list-ul,
.fa-bell {
  color: var(--white);
  font-size: 22px;
  font-weight: 400;
}

/* Main screeen */

.mainScreen {

  width: 100%;
  height: 89vh;
  display: flex;
  position: relative;
}

.leftNavBAr {
  width: 20%;
  border-right: 1px solid var(--grey-color);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: all 0.3s linear;
}



.leftNavBAr::-webkit-scrollbar {
  display: none;
  /* width of the entire scrollbar */

}



.homeExplore {
  margin-top: 5px;
}

.homeExplore,
.library {

  width: 100%;
  border-bottom: 1.5px solid var(--grey-color);
  padding-bottom: 5px;
}

.library {
  padding-top: 10px;
}

#activeNav {
  background-color: var(--grey-color);
}

.navs {
  width: 257px;
  /* background-color: blueviolet; */
  display: flex;
  gap: 1.5rem;
  padding: 13px 0 13px 0;
  /* margin-top: 10px; */
  color: var(--white);
  text-decoration: none;
  align-items: center;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 300;
  padding-left: 40px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
  overflow-x: hidden;
}

.navs:hover {
  background-color: var(--grey-color);
}

.navs a {
  width: max-content;
  overflow-x: hidden;
}

.navs img {
  width: 20px;
}

/* **********************  Main video Container============ */
.rightVideosCard {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  background-color: var(--gray-black);
  /* background-color: green; */
  transition: all 0.3s linear;

  /* overflow-y: scroll; */
}


.suggestionHeading {
  width: 100%;
  height: 60px;
  background-color: var(--gray-black);
  display: flex;
  gap: 0.8rem;
  align-items: center;
  overflow-x: scroll;
  /* margin-bottom: 22px; */
  position: sticky;
  top: 0;
  padding: 0 25px 0 25px;
}

.suggestionHeading::-webkit-scrollbar {
  display: none;
  /* width of the entire scrollbar */

}

.suggestionHeading .items {
  padding: 8px 15px;
  background-color: var(--gray-medium);

  border-radius: 10px;
}

.items a {
  color: var(--white);
  width: max-content;
}



/* Video Card */

.VideoCardsHolder {
  display: grid;
  width: 100%;
  height: 87%;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns with equal width */
  grid-row-gap: 15px;
  grid-column-gap: 25px;
  padding: 0 25px 0 25px;
  /* background-color: pink; */
  overflow-y: scroll;
}

.VideoCardsHolder::-webkit-scrollbar {
  width: 10px ;
 
}

/* .leftNavBAr::-webkit-scrollbar-track {
         color of the tracking area
} */

.VideoCardsHolder::-webkit-scrollbar-thumb {
  background-color: #4e4e4e ;
 
  border-radius: 20px ;

}

.videoCard {
  /* background-color: aqua; */

  width: 100%;
  /* border: 1px solid var(--gray-light); */
  border-radius: 11px;
}

.bottomCard {
  width: 100%;
  margin-top: 5px;
  /* background-color: orange; */

  display: flex;
  gap: 1.2rem;
}

.thumbnail {
  position: relative;
 
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.timeStamp {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: var(--white);
  font-size: 13px;
  font-weight: 400;
}

.thumbImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  
}

.channelDP img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.titleDisc {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.vidTitle {
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
}

.channelName {
  color: gray;
  font-size: 14px;
  font-weight: 500;
}

.uploadTime {
  color: gray;
  font-size: 13px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {

  .YtText,
  .mic,
  .createVid,
  .dots,
  .notiBell {
    display: none !important;
  }

  header {
    gap: 10px;
  }

  .ProfileRight {
    margin-right: 20px;
    gap: 0;
  }

  .logoRight {
    margin-left: 30px;
  }

  .SearchBar {
    width: 250px;
  }

  .SearchBar {
    .searchInput {
      font-size: 15px;
    }
  }

 

  .navs {
width: fit-content;
    padding-left: 30px;
    padding-right: 25px;

    p {
      display: none;
    }
  }

  .VideoCardsHolder {
    grid-template-columns: repeat(1, 1fr);
    height: 95%;
  }
  .VideoCardsHolder::-webkit-scrollbar {
    display: none;
   
  }

  .rightVideosCard {
  
    background-color: #0F0F0F;
  }
  .leftNavBar {
    width: 0 ;
  }

  .rightVideosCard {
    width: 100% ;
  }
}


/* @media only screen and (max-width: 600px) {
  header {
    height: 60px;
  }
  .rightVideosCard {
    width: 100%;
  }
  .leftNavBAr {
    width: 0;
  }
  .logoRight{
    display: none;
  }
  .mic {
    display: none;
  }
  #dots {
    display: none;
  }
  #createVid {
    display: none;
  }
  .notiBell {
    display: none;
  }
  .bars {
    display: none;
  }
  .SearchBar{
    margin-left: 20px;
  }

  .searchBtn {
    width: 65px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }
  .searchInput {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }



  .ProfileRight {
    width: 50px;
  }
  .ProfileRight {
    gap: 1.2rem;
  }
  .profile {
    width: 32px;
    height: 32px;
  }

  .ProfileRight {
    margin-right: 20px;
  }
  .logoRight {
    margin-left: 20px;
  }

  .suggestionHeading {
    padding: 0 15px 0 15px;
    margin-bottom: 2px;
    width: 100%;
  }

  .VideoCardsHolder {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
    justify-content: center;
  }
  .videoCard {
    width: 365px;
    border-radius: 11px;
  }

  .mainScreen {
    height: 93vh;
  }
} */